//colours

//media queries

body {
    background-color: rgb(79, 154, 189);
    background-image:  url("/images/festival.jpg");
    background-size: cover;
}

//splash component

.tracking-in-expand {
    animation: tracking-in-expand 2.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) forwards;
    font-family: 'Lora', serif;
    font-size: 3em;
    color: white;
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
.middle {
    text-align: center;
}

// .splash {
//     // background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1652&q=80");
// }

//other components

