a:active {
  border: solid 1px black; }

body {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-family: helvetica neue, helvetica, arial, sans-serif;
  background-color: #e9e9e9;
  font-size: 16px; }

.tracking-in-contract {
  padding-top: 25vh;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 4rem;
  font-weight: semi-bold;
  color: white; }
  @media (min-width: 48rem) {
    .tracking-in-contract {
      padding: 40vh 15vw 0 15vw; } }

.festival-fade {
  animation: fes-fadein 5s ease;
  animation-fill-mode: forwards; }

.attendee-fade {
  animation: att-fadein 5s;
  animation-fill-mode: forwards; }

.mapper-fade {
  animation: map-color 5s;
  animation-fill-mode: forwards; }

@keyframes map-color {
  0% {
    opacity: 0;
    color: #fff; }
  40% {
    opacity: 0;
    color: #fff; }
  60% {
    opacity: 1;
    color: #fff; }
  100% {
    opacity: 1;
    color: #E67E22; } }

@keyframes fes-fadein {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  100% {
    opacity: 1; } }

@keyframes att-fadein {
  0% {
    opacity: 0; }
  20% {
    opacity: 0; }
  40% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.splash {
  width: 100vw;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80");
  background-size: cover; }

.middle {
  text-align: center; }

.arrow {
  cursor: pointer;
  position: relative;
  bottom: -2rem;
  left: 50vw;
  margin-left: -1rem;
  width: 2rem;
  height: 2rem;
  background-image: url("https://i.imgur.com/pXzExt3.png");
  background-size: contain; }

.bounce {
  animation: bounce 2s infinite; }

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); }
  40% {
    transform: translateY(-1rem); } }

.content {
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-wrap: wrap; }

.footer {
  background-color: rgba(44, 44, 44, 0.89);
  color: #e9e9e9;
  width: 100vw;
  padding: 1rem 2rem 1rem 1rem; }
  @media (min-width: 48rem) {
    .footer {
      padding: 1rem 4.5rem; } }
  @media (min-width: 64rem) {
    .footer {
      padding: 2rem 12rem; } }
  @media (min-width: 90rem) {
    .footer {
      padding: 2rem 40rem 1rem 9.2rem; } }
  .footer p {
    font-size: .8rem; }
    @media (min-width: 48rem) {
      .footer p {
        font-size: 1.1rem; } }
    @media (min-width: 64rem) {
      .footer p {
        font-size: 0.9rem; } }
    @media (min-width: 90rem) {
      .footer p {
        font-size: 1rem; } }

.graph-align {
  display: block;
  margin: 0 auto; }

.graph-container {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap; }

.graph-margin {
  width: 100vw;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6.5vh; }

.graph-margin-left {
  margin-left: 10vh; }

.graph-border {
  background-color: white;
  border: solid white .5rem; }

.graph-text {
  padding-right: 18vh;
  padding-left: 15vh;
  display: block;
  color: #E67E22;
  font-size: 2.5rem;
  margin-top: 10vh; }

.leaflet-container {
  display: flex;
  height: 75vh;
  width: 80vw;
  border: solid 1px white; }

.icon-size {
  height: 1.2rem;
  width: 1.2rem; }

.leaflet-popup-content {
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  color: black;
  flex-direction: column; }

.leaflet-popup-content-wrapper {
  background-color: white;
  border: solid 2px #E67E22; }

.leaflet-container path {
  transition: opacity 2.0s; }

.map-container {
  display: flex; }

.map-margin {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem; }
  @media (min-width: 64rem) {
    .map-margin {
      margin-bottom: 3.2rem;
      margin-top: 1.8rem; } }

.toggle-button {
  color: #E67E22;
  background-color: white;
  border: 0.3rem solid #E67E22;
  border-radius: 2rem;
  padding: 1rem 1rem;
  margin: 3rem 35rem 3rem 35rem;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s; }
  .toggle-button:hover, .toggle-button:focus {
    background-color: #E67E22;
    color: #fff; }

.statsbar {
  display: flex;
  flex-flow: row wrap;
  align-content: center; }
  @media (min-width: 90rem) {
    .statsbar {
      margin: 10vh 10vw 0 10vw; } }

.stats-1, .stats-2, .stats-3, .stats-4 {
  height: 25vh;
  width: 100vw;
  background-color: #FF9C00;
  text-align: center;
  border-top: solid 1px #ffb641; }
  @media (min-width: 48rem) {
    .stats-1, .stats-2, .stats-3, .stats-4 {
      height: 18vh;
      width: 50vw;
      border: 0;
      font-size: 1.3rem; } }
  @media (min-width: 64rem) {
    .stats-1, .stats-2, .stats-3, .stats-4 {
      height: 22vh;
      width: 25vw;
      font-size: 1rem; } }
  @media (min-width: 90rem) {
    .stats-1, .stats-2, .stats-3, .stats-4 {
      width: 20vw; } }

.stats-big {
  font-size: 3rem;
  color: rgba(44, 44, 44, 0.89);
  margin-bottom: 0;
  margin-top: 1.8rem; }
  @media (min-width: 48rem) {
    .stats-big {
      font-size: 4rem; } }
  @media (min-width: 64rem) {
    .stats-big {
      font-size: 3rem;
      margin-top: 1.8rem; } }
  @media (min-width: 90rem) {
    .stats-big {
      margin-top: 2.45rem; } }

.stats-little {
  color: rgba(44, 44, 44, 0.89); }

.stats-1 {
  background-color: rgba(44, 44, 44, 0.89);
  color: white;
  border-top: #9b9b9b; }

.stats-1-big {
  color: #FF9C00; }

.padding-title {
  color: #E67E22; }

.slidecontainer {
  width: 80vw;
  /* Width of the outside container */ }

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 80vw;
  /* Full-width */
  height: 2rem;
  /* Specified height */
  background: #9b9b9b;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  background-color: #e9e9e9; }

.slider-time {
  font-size: 1.5rem; }
  @media (min-width: 48rem) {
    .slider-time {
      font-size: 2rem;
      margin: 1.5rem 0 0.4rem 0; } }

.slider-and-data {
  display: block; }

.just-data {
  display: flex;
  justify-content: space-around; }

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: #fad927;
  background: linear-gradient(90deg, #fad927 0%, #ffa714 50%, #fb5f41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 0.2rem; }

input[type=range]::-moz-range-track {
  -moz-appearance: none;
  background: #fad927;
  background: linear-gradient(90deg, #fad927 0%, #ffa714 50%, #fb5f41 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bade3 ', endColorstr='#ff357f ', GradientType=1 );
  height: 0.2rem; }

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 0.2rem solid;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  max-width: 5rem;
  position: relative;
  bottom: 1rem;
  background-color: #1d1c25;
  cursor: -webkit-grab;
  -webkit-transition: border 1000ms ease;
  transition: border 1000ms ease; }

input[type=range]::-moz-range-thumb {
  -moz-appearance: none;
  border: 0.2rem solid;
  border-radius: 50%;
  height: 2rem;
  width: 2rem;
  max-width: 5rem;
  position: relative;
  bottom: 1rem;
  background-color: #1d1c25;
  cursor: -moz-grab;
  -moz-transition: border 1000ms ease;
  transition: border 1000ms ease; }

.date-input {
  background-color: #e9e9e9;
  border: 0;
  font-family: Arial, Helvetica, sans-serif; }
  @media (min-width: 48rem) {
    .date-input {
      font-size: 1.7rem;
      margin: 1.5rem 0 0.4rem 0rem; } }

.date-picker {
  margin-top: 2rem; }

.icon-select-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0;
  background-color: white;
  height: 75vh;
  margin-top: -22px;
  width: 38px;
  padding-left: 2vh;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 1px solid white; }

.scroller-container {
  background: #fafafa;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container {
  width: 100%;
  height: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -25%;
  margin-top: -25px; }

.scroller {
  height: 150px;
  line-height: 40px;
  float: left;
  margin-left: 5px;
  overflow: hidden;
  font-size: 2rem;
  margin-right: 0.2rem; }

.scroller span {
  display: block;
  font-size: 100%;
  color: #000; }

.scroller .inner {
  -webkit-animation: scroll 10s 1 ease-out;
  -moz-animation: scroll 10s 1 ease-out;
  animation: scroll 10s 1 ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  text-align: center; }

.orange {
  -webkit-animation: color 0.25s 1 linear;
  -moz-animation: color 0.25s 1 linear;
  animation: color 0.25s 1 linear;
  -webkit-animation-delay: 8s;
  -moz-animation-delay: 8s;
  animation-delay: 8s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.orangeb {
  -webkit-animation: color 0.25s 1 linear;
  -moz-animation: color 0.25s 1 linear;
  animation: color 0.25s 1 linear;
  -webkit-animation-delay: 8.25s;
  -moz-animation-delay: 8.25s;
  animation-delay: 8.25s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@-webkit-keyframes color {
  0% {
    color: #000; }
  100% {
    color: #E67E22; } }

@-moz-keyframes color {
  0% {
    color: #000; }
  100% {
    color: #E67E22; } }

@keyframes color {
  0% {
    color: #000; }
  100% {
    color: #E67E22; } }

@-webkit-keyframes scroll {
  11% {
    margin-top: 0px; }
  22% {
    margin-top: 0px; }
  33% {
    margin-top: -100px; }
  44% {
    margin-top: -100px; }
  55% {
    margin-top: -200px; }
  66% {
    margin-top: -200px; }
  77% {
    margin-top: -300px; }
  88% {
    margin-top: -300px; }
  100% {
    margin-top: -300px; } }

@-moz-keyframes scroll {
  11% {
    margin-top: 0px; }
  22% {
    margin-top: 0px; }
  33% {
    margin-top: -100px; }
  44% {
    margin-top: -100px; }
  55% {
    margin-top: -200px; }
  66% {
    margin-top: -200px; }
  77% {
    margin-top: -300px; }
  88% {
    margin-top: -300px; }
  100% {
    margin-top: -300px; } }

@keyframes scroll {
  0% {
    margin-top: 50px; }
  11% {
    margin-top: 50px; }
  22% {
    margin-top: 50px; }
  33% {
    margin-top: -70px; }
  44% {
    margin-top: -70px; }
  55% {
    margin-top: -200px; }
  66% {
    margin-top: -200px; }
  77% {
    margin-top: -350px; }
  88% {
    margin-top: -350px; }
  100% {
    margin-top: -350px; } }

.field-tip {
  position: relative; }

.field-tip .tip-content {
  position: absolute;
  top: -60px;
  /* - top padding */
  right: 9999px;
  width: 150px;
  margin-right: 30px;
  /* width + left/right padding */
  padding: 10px;
  color: #fff;
  background: #333;
  -webkit-box-shadow: 2px 2px 5px #aaa;
  -moz-box-shadow: 2px 2px 5px #aaa;
  box-shadow: 2px 2px 5px #aaa;
  opacity: 0;
  -webkit-transition: opacity 250ms ease-out;
  -moz-transition: opacity 250ms ease-out;
  -ms-transition: opacity 250ms ease-out;
  -o-transition: opacity 250ms ease-out;
  transition: opacity 250ms ease-out; }

.field-tip .tip-content:before {
  content: ' ';
  /* Must have content to display */
  position: absolute;
  top: 50%;
  right: -16px;
  /* 2 x border width */
  width: 0;
  height: 0;
  margin-top: -8px;
  /* - border width */
  border: 8px solid transparent;
  border-right-color: #333; }

.field-tip:hover .tip-content {
  left: -20px;
  opacity: 1; }
